html {
    background-color:black;
}

body{
    /*background-color:black;*/
}


.bold-text{
    font-weight:bold;
}

#stream-avail-title-search{
    display:none;
}

#core-features-container {
        padding-top: 50px;
}