.series-item{
    background-color:black;
}

#watchlist-stats-display{
    background-color:white;
    color:black;
}

#watchStatsModalLabel{
    background-color:white;
    color:black;
}

#side-nav{
    background-color:black;
    color:white;
    padding: 25px;
    border-radius: 25px;   
}

#search-results-container{
    margin-left: 160px;
    padding: 0px 10px;
}