@model IEnumerable<Watchlist>

<h2>My watchlists</h2>
<div>
@{
    foreach(var watchlist in Model)
    {
        <h4>@watchlist.Name</h4>
        <p>Selected platform: @watchlist.StreamingPlatform</p>
        <p>Selected steaming cost: @watchlist.SelectedStreamingCost</p>
    }
}
</div>

<a role="button" class="btn btn-primary" asp-action="CreateWatchlist">Create a watchlist</a>