@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/searchresults.css" />
</head>

<div class="text-center mb-5">
    <h5>On a budget? Need to know if you can finish your favorite shows in a limited time frame? We've got you covered.</h5>
</div>


<div class="text-center my-5 px-5 pt-5 pb-4 bg-dark">
    <div class="row">
        <div class="col">
            <h4 class="mb-5">Search for titles
                <br />
                <i class="mt-5  fa-solid fa-magnifying-glass" style="font-size:54px; color: #ffffff;"></i>
            </h4>
            <p class="mb-5">All the essentials of a search for any show. Release date, popularity, platform avaiability, & more.</p>
            
        </div>
        <div class="col">
            <h4 class="mb-5">Get watchtime estimates
                <br />
                <i class="mt-5  fa-solid fa-clock" style="font-size:54px; color: #ffffff;"></i>
            </h4>
            <p class="mb-5">Get estimates to finish particular seasons of series or from start to finish.</p>
           
        </div>
        <div class="col">
            <h4 class="mb-5">Use multiple watchlists
                <br />
                <i class="mt-5 fa-solid fa-list" style="font-size:54px; color: #ffffff;"></i>
            </h4>
            <p class="mb-5">Organizing shows using different watchlists helps keep things if you want to track series by groups.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="d-flex justify-content-center gap-5">
            <a role="button" class="w-25 btn btn-primary form-control" asp-controller="Watchlist" asp-action="ViewWatchlists" id="try-it-btn">Get started</a>
            <a role="button" class="w-25 btn btn-light form-control" asp-action="SeriesSearchResults" asp-controller="Home" id="try-it-btn">Try as guest (limited features)</a>
        </div>
    </div>
</div>
