
<html lang="en" class="bg-dark">
<head>
    <title>StreamBudget</title>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/searchresults.css" />
</head>
<body>

    <div class="row mt-5">
        <div class="text-center col-xxl-5">
            <h3>StreamBudget</h3>
        </div>
        <div class="col-xxl-6">
            Introducing StreamBudget. A site intended to help you watch your favorite shows like Netflix, Disney+, & Hulu while on a budget.
        </div>
    </div>

    <div class="text-center px-5 pt-5 pb-4 bg-dark" id="core-feature-outer-container">
        <div class="row" id="core-features-container">
            <div class="col-xxl-4">
                <h4 class="mb-5">
                    Compare platform availability
                    <br />
                    <i class="mt-5  fa-solid fa-magnifying-glass text-white" style="font-size:54px;"></i>
                </h4>
                <p class="mb-5">
                    Find out which streaming platform hosts that show. We provide results for 8
                    platforms, including some of the most popular like Netflix, Disney+, and HBO.
                </p>

            </div>
            <!--MOBILE BORDER 1 -->
            <div class="d-xl-none my-3 border-bottom"></div>
            <div class="col-xxl-4 mb-sm-5">
                <h4 class="mb-5">
                    Get watchtime estimates
                    <br />
                    <i class="mt-5  fa-solid fa-clock text-white" style="font-size:54px;"></i>
                </h4>
                <p class="mb-5">Get estimates to finish particular seasons of series or from start to finish.</p>

            </div>
            <!--MOBILE BORDER 2--->
            <div class="d-xl-none my-3 border-bottom container-fill"></div>
            <div class="col-xxl-4 mb-sm-5">
                <h4 class="mb-5">
                    Use multiple watchlists
                    <br />
                    <i class="mt-5 fa-solid fa-list text-white" style="font-size:54px;"></i>
                </h4>
                <p class="mb-5">Organizing shows using different watchlists helps keep things if you want to track series by groups.</p>
            </div>

            <div class="row mt-5">
                <div class="d-flex justify-content-center gap-5">
                    <a role="button" class="w-25 btn btn-primary form-control" asp-controller="Watchlist" asp-action="ViewWatchlists" id="try-it-btn">Get started</a>

                    <a role="button" class="w-25 btn btn-light form-control" asp-action="SeriesSearchResults" asp-controller="Home">Try as guest (limited features)</a>
                </div>
            </div>
        </div>

    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
